html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.text-h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 36px;
  text-transform: uppercase;
}

.text-h3 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 24px;
}

.text-h4 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 21px;
}

.text-p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.text-p-reviews {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
}

body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}
body .container {
  max-width: 1110px;
  margin: 0 auto;
}
body .sidenav {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
body .sidenav .collapsible,
body .sidenav.fixed .collapsible {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
body .sidenav .collapsible li,
body .sidenav.fixed .collapsible li {
  padding: 0;
}
body .sidenav .collapsible-header,
body .sidenav.fixed .collapsible-header {
  background-color: transparent;
  border: none;
  line-height: inherit;
  height: inherit;
  padding: 0 16px;
}
body .sidenav .collapsible-header:hover,
body .sidenav.fixed .collapsible-header:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
body .sidenav .collapsible-header i,
body .sidenav.fixed .collapsible-header i {
  line-height: inherit;
}
body .sidenav .collapsible-body,
body .sidenav.fixed .collapsible-body {
  border: 0;
  background-color: #fff;
}
body .sidenav .collapsible-body li a,
body .sidenav.fixed .collapsible-body li a {
  padding: 0 23.5px 0 31px;
}
body .sidenav {
  position: fixed;
  width: 300px;
  left: 0;
  top: 0;
  margin: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  height: 100%;
  height: calc(100% + 60px);
  height: -moz-calc(100%);
  padding-bottom: 60px;
  background-color: #fff;
  z-index: 999;
  overflow-y: auto;
  will-change: transform;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);
}
body .sidenav.right-aligned {
  right: 0;
  -webkit-transform: translateX(105%);
  transform: translateX(105%);
  left: auto;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
body .sidenav .collapsible {
  margin: 0;
}
body .sidenav li {
  float: none;
  line-height: 48px;
}
body .sidenav li.active {
  background-color: rgba(0, 0, 0, 0.05);
}
body .sidenav li > a {
  color: rgba(0, 0, 0, 0.87);
  display: block;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  line-height: 48px;
  padding: 0 32px;
}
body .sidenav li > a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
body .sidenav li > a.btn,
body .sidenav li > a.btn-large,
body .sidenav li > a.btn-small,
body .sidenav li > a.btn-large,
body .sidenav li > a.btn-flat,
body .sidenav li > a.btn-floating {
  margin: 10px 15px;
}
body .sidenav li > a.btn,
body .sidenav li > a.btn-large,
body .sidenav li > a.btn-small,
body .sidenav li > a.btn-large,
body .sidenav li > a.btn-floating {
  color: #fff;
}
body .sidenav li > a.btn-flat {
  color: #343434;
}
body .sidenav li > a.btn:hover,
body .sidenav li > a.btn-large:hover,
body .sidenav li > a.btn-small:hover,
body .sidenav li > a.btn-large:hover {
  background-color: #2bbbad;
}
body .sidenav li > a.btn-floating:hover {
  background-color: #26a69a;
}
body .sidenav li > a > i,
body .sidenav li > a > [class^=mdi-],
body .sidenav li > a li > a > [class*=mdi-],
body .sidenav li > a > i.material-icons {
  float: left;
  height: 48px;
  line-height: 48px;
  margin: 0 32px 0 0;
  width: 24px;
  color: rgba(0, 0, 0, 0.54);
}
body .sidenav .divider {
  margin: 8px 0 0 0;
}
body .divider {
  height: 1px;
  overflow: hidden;
  background-color: #e0e0e0;
}
body .dropdown-content li.divider {
  min-height: 0;
  height: 1px;
}
body .sidenav .subheader {
  cursor: initial;
  pointer-events: none;
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
  font-weight: 500;
  line-height: 48px;
}
body .sidenav .subheader:hover {
  background-color: transparent;
}
body .sidenav .user-view {
  position: relative;
  padding: 32px 32px 0;
  margin-bottom: 8px;
}
body .sidenav .user-view > a {
  height: auto;
  padding: 0;
}
body .sidenav .user-view > a:hover {
  background-color: transparent;
}
body .sidenav .user-view .background {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
body .sidenav .user-view .circle,
body .sidenav .user-view .name,
body .sidenav .user-view .email {
  display: block;
}
body .sidenav .user-view .circle {
  height: 64px;
  width: 64px;
}
body .sidenav .user-view .name,
body .sidenav .user-view .email {
  font-size: 14px;
  line-height: 24px;
}
body .sidenav .user-view .name {
  margin-top: 16px;
  font-weight: 500;
}
body .sidenav .user-view .email {
  padding-bottom: 16px;
  font-weight: 400;
}
body .sidenav.sidenav-fixed {
  left: 0;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  position: fixed;
}
body .sidenav.sidenav-fixed.right-aligned {
  right: 0;
  left: auto;
}
body .sidenav.sidenav-fixed.right-aligned {
  -webkit-transform: translateX(105%);
  transform: translateX(105%);
}
body .sidenav > a {
  padding: 0 16px;
}
body .sidenav .user-view {
  padding: 16px 16px 0;
}

.sidenav .collapsible-body > ul:not(.collapsible) > li.active,
.sidenav.sidenav-fixed .collapsible-body > ul:not(.collapsible) > li.active {
  background-color: #ee6e73;
}

.sidenav .collapsible-body > ul:not(.collapsible) > li.active a,
.sidenav.sidenav-fixed .collapsible-body > ul:not(.collapsible) > li.active a {
  color: #fff;
}

.sidenav .collapsible-body {
  padding: 0;
}

.sidenav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  height: 120vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 997;
  display: none;
}

.material-icons {
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "liga";
  font-feature-settings: "liga";
}

nav .brand-logo i,
nav .brand-logo [class^=mdi-], nav .brand-logo [class*=mdi-],
nav .brand-logo i.material-icons {
  float: left;
  margin-right: 15px;
}

nav i,
nav [class^=mdi-], nav [class*=mdi-],
nav i.material-icons {
  display: block;
  font-size: 24px;
  height: 56px;
  line-height: 56px;
}

.input-field input[type=search]:focus:not(.browser-default) + label i,
.input-field input[type=search]:focus:not(.browser-default) ~ .mdi-navigation-close,
.input-field input[type=search]:focus:not(.browser-default) ~ .material-icons {
  color: #444;
}

.input-field input[type=search] ~ .mdi-navigation-close,
.input-field input[type=search] ~ .material-icons {
  position: absolute;
  top: 0;
  right: 1rem;
  color: transparent;
  cursor: pointer;
  font-size: 2rem;
  -webkit-transition: 0.3s color;
  transition: 0.3s color;
}

ul#slide-out:not(.browser-default) {
  padding-left: 0;
  list-style-type: none;
}

ul#slide-out:not(.browser-default) > li {
  list-style-type: none;
}

#slide-out a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.z-depth-5, .modal {
  -webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fafafa;
  padding: 0;
  max-height: 70%;
  width: 55%;
  margin: auto;
  overflow-y: auto;
  border-radius: 2px;
  will-change: top, opacity;
}

.modal:focus {
  outline: none;
}

@media only screen and (max-width: 992px) {
  .modal {
    width: 80%;
  }
}
.modal h1, .modal h2, .modal h3, .modal h4 {
  margin-top: 0;
}

.modal .modal-content {
  padding: 24px;
}

.modal .modal-close {
  cursor: pointer;
}

.modal .modal-footer {
  border-radius: 0 0 2px 2px;
  background-color: #fafafa;
  padding: 4px 6px;
  height: 56px;
  width: 100%;
  text-align: right;
}

.modal .modal-footer .btn, .modal .modal-footer .btn-large, .modal .modal-footer .btn-small, .modal .modal-footer .btn-flat {
  margin: 6px 0;
}

.modal-overlay {
  position: fixed;
  z-index: 999;
  top: -25%;
  left: 0;
  bottom: 0;
  right: 0;
  height: 125%;
  width: 100%;
  background: #000;
  display: none;
  will-change: opacity;
}

.modal.modal-fixed-footer {
  padding: 0;
  height: 70%;
}

.modal.modal-fixed-footer .modal-content {
  position: absolute;
  height: calc(100% - 56px);
  max-height: 100%;
  width: 100%;
  overflow-y: auto;
}

.modal.modal-fixed-footer .modal-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0;
}

.modal.bottom-sheet {
  top: auto;
  bottom: -100%;
  margin: 0;
  width: 100%;
  max-height: 45%;
  border-radius: 0;
  will-change: bottom, opacity;
}

.materialboxed {
  display: block;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  position: relative;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  -webkit-backface-visibility: hidden;
}

.materialboxed:hover:not(.active) {
  opacity: 0.8;
}

.materialboxed.active {
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.carousel.scrolling .carousel-item .materialboxed,
.carousel .carousel-item:not(.active) .materialboxed {
  pointer-events: none;
}

.header {
  background-image: url("../img/firstScreenBg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 740px;
}
.header__menu {
  padding-top: 20px;
  margin-bottom: 112px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.header__logo {
  width: 60px;
  height: 60px;
}
.header__burger {
  width: 50px;
  height: 50px;
  background-color: #F7654A;
  cursor: pointer;
  padding: 0;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__burger_line {
  width: 20px;
  height: 2px;
  background-color: #FFFFFF;
  margin-bottom: 4px;
}
.header__burger_line:last-child {
  margin-bottom: 0;
}
.header__title {
  text-align: center;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 64px;
  line-height: 95px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  max-width: 734px;
  margin: 0 auto 17px;
}
.header__subtitle {
  text-align: center;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  max-width: 734px;
  margin: 0 auto;
}

.numbers {
  position: absolute;
  max-width: 1110px;
  width: 100%;
  min-height: 300px;
  margin-top: -150px;
  z-index: 10;
  background-color: #f7f7f7;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 57px 130px;
}
.numbers__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.numbers__grid-item {
  text-align: center;
  min-width: 190px;
}
.numbers__grid-item_h4 {
  font-weight: 500;
  font-size: 72px;
  line-height: 107px;
  text-transform: uppercase;
  color: #F7654A;
  margin-bottom: 5px;
}
.numbers__grid-item_h5 {
  font-weight: 500;
  font-size: 36px;
  line-height: 53px;
  text-transform: uppercase;
  color: #000000;
}
.numbers__grid-item_p {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #999999;
}

.info {
  position: relative;
}
.info__header {
  padding-top: 250px;
  text-align: center;
  margin-bottom: 50px;
}
.info__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 681px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.info__flex-item {
  max-width: 350px;
  margin-right: 30px;
}
.info__flex-item:last-child {
  margin-right: 0;
}
.info__image {
  margin-bottom: 45px;
}
.info__rectangle {
  width: 55px;
  height: 6px;
  background-color: #F7654A;
  margin-bottom: 15px;
}
.info__h3 {
  margin-bottom: 13px;
  color: #404149;
}
.info__p {
  font-family: "Open Sans", sans-serif;
  color: #999999;
}

.request {
  position: relative;
  background-color: #F7654A;
  min-height: 181px;
  margin-top: 48px;
}
.request__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.request__upper-text {
  padding-top: 30px;
  font-weight: 700;
  font-size: 48px;
  line-height: 71px;
  letter-spacing: 0.025em;
  color: #FFFFFF;
  text-transform: uppercase;
}
.request__lower-text {
  font-family: "Oswald", sans-serif;
  padding-top: 5px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.015em;
  color: #FFFFFF;
  text-transform: uppercase;
}
.request__button {
  margin-top: 73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 175px;
  height: 50px;
  border: none;
  background-color: #FFFFFF;
  text-decoration: none;
}
.request__button-img {
  width: 18px;
  height: 21px;
  margin-left: 30px;
  margin-top: 14px;
}
.request__button-text {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.015em;
  color: #000000;
  text-transform: uppercase;
  margin-left: 15px;
  margin-top: 14px;
}

.services {
  padding: 150px 0;
}
.services__h2 {
  text-align: center;
  margin-bottom: 55px;
}
.services__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  justify-items: center;
}
.services__grid-item {
  background: #F7F7F7;
  padding: 59px 0;
  width: 350px;
}
.services__h4 {
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  max-width: 174px;
  letter-spacing: 0.02em;
}
.services__icon {
  margin: 0 auto 21px;
}

.portfolio__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 0;
}

.question_h3 {
  text-transform: uppercase;
  color: #F7654A;
  margin-bottom: 23px;
  cursor: pointer;
}
.question_p {
  margin-bottom: 40px;
  color: #999999;
  max-width: 730px;
}
.question__items {
  padding-bottom: 110px;
}

.question .services__h2 {
  padding-top: 150px;
  margin-bottom: 50px;
}

.partners {
  background-color: #404149;
  padding-top: 100px;
  padding-bottom: 80px;
}
.partners__h2 {
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 55px;
}
.partners__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.partners__item {
  margin-bottom: 20px;
}

.reviews {
  padding: 150px 0 95px;
}
.reviews__h2 {
  text-align: center;
  padding-bottom: 60px;
}
.reviews__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.reviews__card {
  background: #F7F7F7;
  padding: 30px;
  margin-bottom: 33px;
}
.reviews__quotes {
  font-weight: 700;
  font-size: 96px;
  line-height: 142px;
  text-transform: uppercase;
  color: #F7654A;
  margin-bottom: -62px;
  margin-top: -30px;
}
.reviews__author-accent {
  color: #F7654A;
}
.reviews__text-p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #999999;
}
.reviews__author {
  letter-spacing: 0.02em;
}

.contacts {
  padding: 100px 0 150px;
}
.contacts__h2 {
  text-align: center;
  margin-bottom: 60px;
}
.contacts__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.contacts__item {
  max-width: 255px;
  text-align: center;
  margin: 0 auto;
}
.contacts__img {
  display: inline-block;
}
.contacts__item-title {
  text-transform: uppercase;
  color: #999999;
  padding: 18px 0 16px;
}
.contacts__item-title_mail {
  padding-top: 30px;
}
.contacts__item-text {
  text-transform: uppercase;
}
.contacts__item-text a {
  text-decoration: none;
  color: inherit;
}
.contacts__item-text_color {
  color: #F7654A;
}

.footer {
  background: #404149;
}
.footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #FFFFFF;
}
.footer__text {
  padding: 30px 0;
}

@media (max-width: 1280px) {
  .numbers__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .info {
    padding: 150px 15px 110px 15px;
  }
  .request__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 25px;
  }
  .request__lower-text {
    text-align: center;
  }
  .request__upper-text {
    text-align: center;
  }
  .partners__flex {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .services {
    padding: 0 25px 25px;
  }
  .services__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .services__grid-item {
    width: 100%;
  }
  .question__items {
    padding-left: 15px;
  }
  .reviews {
    padding: 100px 25px;
  }
  .reviews__grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .contacts__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .footer__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media only screen and (max-width: 992px) {
  .sidenav.sidenav-fixed {
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
  }
}
@media (max-width: 768px) {
  .header__menu {
    padding: 15px;
  }
  .header__subtitle {
    display: none;
  }
  .numbers {
    display: none;
  }
  .info {
    padding: 30px 0;
  }
  .info__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .info__flex-item {
    margin-right: 0px;
    margin-bottom: 30px;
  }
  .info__flex-item:last-child {
    margin-bottom: 0;
  }
  .services__grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .portfolio__grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .reviews__grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .contacts__grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
  .footer__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__text {
    padding: 10px 0;
  }
}
@media (max-width: 380px) {
  .numbers {
    display: none;
  }
  .portfolio__grid {
    grid-template-columns: repeat(1, 1fr);
  }
}/*# sourceMappingURL=main.css.map */