@media(max-width: 1280px) {
    .numbers {
        &__grid {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
    }
    .info {
        padding: 150px 15px 110px 15px;
    }
    .request {
        &__flex {
            flex-direction: column;
            align-items: center;
            padding-bottom: 25px;
        }
        &__lower-text {
            text-align: center;
        }
        &__upper-text {
            text-align: center;
        }
    }
}

@media(max-width: 768px) {
    .header {
        &__menu {
            padding: 15px;
        }
        &__subtitle {
            display: none;
        }
    }
    .numbers {
        position: relative;
        &__grid {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(4, 1fr);
        }
    }
    .info {
        padding: 10px 15px 110px 15px;
        &__flex {
            flex-direction: column;
            align-items: center;
        }
        &__flex-item {
            margin-right: 0px;
            margin-bottom: 30px;
        }
        &__flex-item:last-child {
            margin-bottom: 0;
        }
    }
}