.question {
    &_h3 {
        text-transform: uppercase;
        color: $color-accent;
        margin-bottom: 23px;
        cursor: pointer;
    }
    &_p {
        margin-bottom: 40px;
        color: $color-gray;
        max-width: 730px;
    }
    &__items {
        padding-bottom: 110px;
    }
}

.question .services__h2 {
    padding-top: 150px;
    margin-bottom: 50px;
}

